<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="view">
<info>
  <link type="guide" xref="index" group="second"/>
</info>
<title>Viewing the document</title>
<p>The view menu allows you to switch between ASCII and Braille on-screen representation.</p>
<p>It also allows you to show the revision line: a bottom line in the window showing the ASCII representation of the line where the cursor is placed on</p>
</page>
